// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
}

h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: lightblue;
    &:hover {
        color:  blue;
    }
}
